<div class="grid">
  <footer class="grid__col--12 panel--centered" role="contentinfo">
    <p>Code sample by <a href="http://dominikstodolny.com" target="_blank">Dominik Stodolny</a></p>
  </footer>
</div>
