<form class="form">
  <label class="form__label--hidden" for="name">Name:</label>
  {{input class="form__input" type="text" id="name" placeholder="Name" value=newName}}

  <label class="form__label--hidden" for="website">Website:</label>
  {{input class="form__input" type="url" id="website" placeholder="http://website.com" value=newUrl}}

  <button class="btn--default" {{action "createUser" on="click"}} disabled={{isDisabled}}>Add new expert</button>
</form>
