<div class="grid">
  <header class="grid__col--12 panel--padded--centered" role="banner">
    {{#link-to 'users'}}
      <h1>Expert search</h1>
    {{/link-to}}
  </header>
</div>

{{outlet}}

<div class="grid">
  <footer class="grid__col--12 panel--centered" role="contentinfo">
    <p>AlphaSights code challenge</p>
  </footer>
</div>
