<div class="grid">
  <header class="grid__col--12 panel--padded--centered" role="banner">
    {{#link-to 'users'}}
      <h1>Expert search</h1>
    {{/link-to}}
  </header>
</div>

<h4 class="grid">Add new expert</h4>

<div class="grid">
  <div class="centered grid__col--8">
    <form class="form">
      <label class="form__label--hidden" for="name">Name:</label>
      <input class="form__input" type="text" id="name" placeholder="Name">

      <label class="form__label--hidden" for="email">Website:</label>
      <input class="form__input" type="url" id="website" placeholder="http://website.com">

      <input class="form__btn" type="submit" value="Add new expert">
    </form>
  </div>
</div>

<h4 class="grid">Experts</h4>

<div class="grid">
  <div class="centered grid__col--8">
    {{outlet}}
  </div>
</div>

<div class="grid">
  <footer class="grid__col--12 panel--centered" role="contentinfo">
    <p>AlphaSights code challenge</p>
  </footer>
</div>
